common --symlink_prefix=.bazel/

common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

# So `node_modules` can be copied out with no pain
common --experimental_writable_outputs
